name: Publish Example Web App

on:
  push:
    branches: [ main ]
    paths: [ '.github/**', 'examples/example-web-app/**', 'js/**' ]
  pull_request:
    branches: [ main ]
    paths: [ '.github/**', 'examples/example-web-app/**', 'js/**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      NEXT_PUBLIC_REFLECTOR_HOST_AUTHORITY:  ${{ secrets.URL_REFLECTOR_DEV }}

    steps:
      - uses: actions/checkout@v5

      - name: set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: 'examples/example-web-app/yarn.lock' # note - this only caches for examples/, not js/
      
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: true
          cache_dependency_path: 'js/pnpm-lock.yaml'
          package_json_file: 'js/package.json'

      - name: 'Build Project'
        working-directory: 'js/'
        run: |
          pnpm install --frozen-lockfile
          pnpm build
      
      - name: '[Example Web App] Install yarn dependencies'
        working-directory: 'examples/example-web-app/'
        run: yarn install
      - name: '[Example Web App] Type Check'
        working-directory: 'examples/example-web-app/'
        run: npx tsc --noEmit
        continue-on-error: true # TODO: fix all lint issues and remove this line
      - name: '[Example Web App] Build'
        working-directory: 'examples/example-web-app/'
        run: yarn build

      - uses: actions/upload-artifact@v4
        with:
          name: example-web-app
          path: examples/example-web-app/out/*
          if-no-files-found: error
          retention-days: 1

  publish-to-gh-pages:
    runs-on: ubuntu-latest
    needs: build
    concurrency: publish-to-gh-pages
    if: ${{ github.event_name == 'push' }}

    steps:
      - name: Update Example Web App
        uses: solana-mobile/gha-commit-artifact-to-branch@v2
        with:
          token: ${{ secrets.UPDATE_GITHUB_PAGES_TOKEN }}
          branch: gh-pages
          artifact-name: example-web-app
          dest: example-web-app
          commit-message: 'Update Example Web App'