name: Generate mobile-wallet-adapter specification

on:
  push:
    branches: [ main ]
    paths: [ '.github/**', 'spec/**' ]
  pull_request:
    branches: [ main ]
    paths: [ '.github/**', 'spec/**' ]

defaults:
  run:
    working-directory: spec

jobs:
  generate-spec:
    runs-on: ubuntu-latest

    env:
      BUNDLE_WITHOUT: 'development'

    steps:
      - uses: actions/checkout@v5

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: set up PlantUML
        run: ./setup-plantuml.sh
        working-directory: .github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true
          working-directory: spec

      - name: Generate jekyll site
        run: bundle exec jekyll build
        working-directory: spec

      # Upload spec jekyll site to workflow artifacts
      - uses: actions/upload-artifact@v4
        with:
          name: spec-jekyll-site
          path: spec/_site/*
          if-no-files-found: error
          retention-days: 1

  publish-to-gh-pages:
    runs-on: ubuntu-latest
    needs: generate-spec
    concurrency: publish-to-gh-pages
    if: ${{ github.event_name == 'push' }}

    steps:
      - name: Update spec jekyll site
        uses: solana-mobile/gha-commit-artifact-to-branch@v2
        with:
          token: ${{ secrets.UPDATE_GITHUB_PAGES_TOKEN }}
          branch: gh-pages
          artifact-name: spec-jekyll-site
          dest: spec
          commit-message: 'Update spec jekyll site'
